@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-image: url(/images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
}

div.content{
    max-width: 768px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

div.content h1{
    width: 400px;
}

div.content p{
    width:400px;
    font-size: 18px;
}

div.content h2{

    background-color: hsl(248, 32%, 49%);
    width: 380px;
    border-radius: 10px;
    font-weight: 300;
}


div.userInput{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: white;
    height: 500px;
    width: 400px;
    align-items: center;
    padding-top: 10px;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
    
}

input{
    width: 350px;
    height: 50px;
    font-weight: 700;
    color: white;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
position: relative;
margin-top: -10px;
outline: none;

}
input.text{
    padding-left: 5px;
    color: black;
    border: hsl(246, 25%, 77%) 2px solid;
    
}
input[type="submit"]{
    background-color: hsl(154, 59%, 51%);
    border-color: transparent;
    cursor: pointer;
}

div.userInput p{


    position: absolute;
    margin-top: -100000000px;

}

div.userInput p.error{
    position: relative;
    color: hsl(0, 100%, 74%) ;
    font-size: 10px;
    text-align: right;
    margin-right: 50px;
    margin-top: -10px;
}



footer{
    color: black;
    font-size: 15px;
    width: 300px;
    
}

div.userInput input.error{

    border: 2px solid hsl(0, 100%, 74%);
    background-image: url(/images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;

}

@media screen and (min-width:769px) {
    

div.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .5fr 2fr .75fr;
    /* gap: 20px; */
    grid-column-gap: 50px;
    grid-template-areas: 
    
    ". h2 h2"
    "text userInput userInput"
    ". userInput userInput"
    ;

}



div.content h2{
    grid-area: h2;
    width: 100%;
    font-size: 18px;
    height: 50px;
    padding-top: 10px;
    /* width: 500px; */
    /* font-size: 20px; */
}

div.text{
    /* display: grid; */
    grid-area: text;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-flow: column;
    text-align: left;
    margin: 0 auto;
}

div.text p{
    font-size: 15px;
    width: 475px;
}

div.userInput{

    grid-area: userInput;
    width: 500px;
    padding-top: 20px;
}

input{
    width: 450px;
}


div.userInput p.error{
    position: relative;
    color: hsl(0, 100%, 74%) ;
    font-size: 10px;
    text-align: right;
    margin-right: -50px;
    margin-top: -10px;
}

div.userInput input.error{

    border: 2px solid hsl(0, 100%, 74%);
    background-image: url(/images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;

}



















}